<body style="background-color:#FF3730">
    
    <h1><label>FALLO EN EL PEDIDO</label></h1>
    <label>El pedido no puede ser procesado ya que no tiene consumibles cargados</label>

    <a asp-action="AgregarPrincipal" class="btn btn-outline-warning" style="margin-top:20px">VOLVER A REALIZAR PEDIDO</a>
</body>
