<body style="background-color:#FF3730">

    <center>
        <h1><label>EL PREDIDO SE REALIZO CON EXITO</label></h1>
    </center>

    <div class="row" style="margin-top:20px">
        <center>
            <img src="https://media.tenor.com/BntXpMlrGuEAAAAM/check-correct.gif" style="width:120px; height:100px" />
        </center>
    </div>

    <div class="row" style="margin-top:20px">
        <div class="col-sm-12, col-lg-6" style="margin-top:10px">
            <a asp-action="AgregarPrincipal" class="btn btn-outline-dark" style="width:100%">REALIZAR OTRO PEDIDO</a>
        </div>
        <div class="col-sm-12, col-lg-6" style="margin-top:10px">
            <a asp-action="Index" asp-controller="Home" class="btn btn-outline-dark" style="width:100%">INICIO</a>
        </div>
    </div>
</body>