
<form asp-action="Index">
    <body style="background-color:#FF3730">
        <h1><label>BIENVENIDO A APPCOMIDA</label></h1>
        <details>
            <summary>
                EMPLEADO CLIENTE
            </summary>
            <div class="row">
                <div class="col-lg-3" style="margin-top:10px">
                    <a class="btn btn-dark" style="width:100%" asp-controller="AgregarPedido" asp-action="AgregarPrincipal">AGREGAR PEDIDO</a>
                </div>
                <div class="col-lg-3" style="margin-top:10px">
                    <a class="btn btn-dark" style="width:100%" asp-controller="ModificarPedido" asp-action="Index">MODIFICAR PEDIDO</a>
                </div>
                <div class="col-lg-3" style="margin-top:10px">
                    <a class="btn btn-dark" style="width:100%" asp-controller="EliminarPedido" asp-action="Index">CERRAR PEDIDO</a>
                </div>
                <div class="col-lg-3" style="margin-top:10px">
                    <a class="btn btn-dark" style="width:100%" asp-controller="ListarPedido" asp-action="Index">MOSTRAR PEDIDOS VIGENTES</a>
                </div>
            </div>
        </details>
        <details style="margin-top:20px">
            <summary>
                EMPLEADO REPOSICION
            </summary>
            <div class="row">
                <div class="col-lg-3" style="margin-top:10px">
                    <a class="btn btn-dark" style="width:100%" asp-controller="AgregarStock" asp-action="Index">AGREGAR STOCK</a>
                </div>
                <div class="col-lg-3" style="margin-top:10px">
                    <a class="btn btn-dark" style="width:100%" asp-controller="AgregarStock" asp-action="ListarStock">LISTAR STOCK COMPLETO</a>
                </div>
            </div>
        </details>
    </body>
</form>