
<form asp-action="Index">
    <body style="background-color:#FF3730">
        <h1><label>BIENVENIDO A APPCOMIDA</label></h1>
        
        <div class="container">
            <div class="row" style="margin-top:10px">
                <div class="col">
                    <a class="btn btn-dark" asp-controller="AgregarPedido" asp-action="AgregarPrincipal">AGREGAR PEDIDO</a>
                </div>
                <div class="col">
                    <a class="btn btn-dark" asp-controller="ModificarPedido" asp-action="Index">MODIFICAR PEDIDO</a>
                </div>
                <div class="col">
                    <a class="btn btn-dark" asp-controller="EliminarPedido" asp-action="Index">CERRAR PEDIDO</a>
                </div>
                <div class="col">
                    <a class="btn btn-dark" asp-controller="ListarPedido" asp-action="Index">MOSTRAR PEDIDOS VIGENTES</a> 
                </div>
                <div class="col">
                    <a class="btn btn-dark" asp-controller="AgregarStock" asp-action="Index">AGREGAR STOCK</a>
                </div>
            </div>
        </div>
    </body>
</form>