<h1><label>ELECCION DE TIPO DE ALIMENTO</label></h1>

<form asp-action="Index">
    <body style="background-color:#FF3730">
        <div class="container">
            <div class="row" style="margin-top:10px">
                <div class="col">
                    <a class="btn btn-dark" asp-action="ReponerPrincipal">PRINCIPAL</a>
                </div>
                <div class="col">
                    <a class="btn btn-dark" asp-action="ReponerBebida">BEBIDA</a>
                </div>
                <div class="col">
                    <a class="btn btn-dark" asp-action="ReponerPostre">POSTRE</a>
                </div>
            </div>
        </div>
    </body>
</form>