<form asp-action="ReponerPrincipal">
    <h1><label>REPONER PLATOS PRINCIPALES</label></h1>
    <body style="background-color:#FF3730">
        <div class="form-group">
            <label class="control-label" style="color:aliceblue">NOMBRE DEL PLATO</label>
            <input class="form-control" />
        </div>

        <div class="form-group">
            <label class="control-label" style="color:aliceblue">PRECIO</label>
            <input class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label" style="color:aliceblue">LINK DE IMAGEN</label>
            <input class="form-control" />
        </div>
    </body>
</form>